@keyframes blink {
	0% {
		opacity: 0;
	}

	40% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	90% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.animate-blink {
	animation-name: blink;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

#constellationMask {
	mask-repeat: no-repeat;
	-webkit-mask-repeat: no-repeat;
	mask-size: cover;
	-webkit-mask-size: cover;
	transition: mask-image 0.1s linear;
}

#shooting-star {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 4px;
	height: 4px;
	background: #fff;
	border-radius: 50%;
	box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1), 0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 0.1);
	animation: shootstar 5s linear infinite;
}

#shooting-star::before {
	content: '';
	position: absolute;
	top: 90%;
	transform: translateY(-50%);
	width: 300px;
	height: 1px;
	background: linear-gradient(90deg, #fff, transparent);
}

@keyframes shootstar {
	0% {
		transform: rotate(200deg) translateX(0);
		opacity: 1;
	}

	20% {
		opacity: 1;
	}

	50% {
		transform: rotate(200deg) translateX(-3000px);
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

.hide-text {
	opacity: 0
}

.rotate-image-hue {
	animation: hue-rotation 32s linear infinite;
}

@keyframes hue-rotation{
	0%{
		filter: hue-rotate(0deg);
	}
	20%{
		filter: hue-rotate(0deg);
	}
	25%{
		filter: hue-rotate(60deg);
	}
	45%{
		filter: hue-rotate(60deg);
	}
	50%{
		filter: hue-rotate(250deg);
	}
	70%{
		filter: hue-rotate(250deg);
	}
	75%{
		filter: hue-rotate(170deg);
	}
	95%{
		filter: hue-rotate(170deg);
	}
	100%{
		filter: hue-rotate(0deg);
	}
}

@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}

.purple:hover {
	position: relative;
	z-index: 0;
	border-radius: 10px;
	overflow: hidden;

	&::before {
		content: '';
		position: absolute;
		z-index: -2;
		left: -50%;
		top: -50%;
		width: 200%;
		height: 200%;
		background-color: #399953;
		background-repeat: no-repeat;
		background-size: 50% 50%, 50% 50%;
		background-position: 0 0, 100% 0, 100% 100%, 0 100%;
		background-image: linear-gradient(#D4C5FD, #D4C5FD), linear-gradient(#A683FF, #A683FF), linear-gradient(#A683FF, #A683FF), linear-gradient(#A683FF, #A683FF);
		animation: rotate 1s linear infinite;
	}

	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		left: 1px;
		top: 1px;
		width: calc(100% - 2px);
		height: calc(100% - 2px);
		background: #2E0C67;
		border-radius: 10px;
	}
}

.purple-rounded:hover {
	position: relative;
	z-index: 0;
	border-radius: calc(infinity * 1px);
	overflow: hidden;

	&::before {
		content: '';
		position: absolute;
		z-index: -2;
		left: -50%;
		top: -50%;
		width: 200%;
		height: 200%;
		background-color: #399953;
		background-repeat: no-repeat;
		background-size: 50% 50%, 50% 50%;
		background-position: 0 0, 100% 0, 100% 100%, 0 100%;
		background-image: linear-gradient(#D4C5FD, #D4C5FD), linear-gradient(#A683FF, #A683FF), linear-gradient(#A683FF, #A683FF), linear-gradient(#A683FF, #A683FF);
		animation: rotate 1s linear infinite;
	}

	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		left: 1px;
		top: 1px;
		width: calc(100% - 2px);
		height: calc(100% - 2px);
		background: #2E0C67;
		border-radius: calc(infinity * 1px);
	}
}

.blue:hover {
	position: relative;
	z-index: 0;
	border-radius: 10px;
	overflow: hidden;

	&::before {
		content: '';
		position: absolute;
		z-index: -2;
		left: -100%;
		top: -100%;
		width: 300%;
		height: 300%;
		background-repeat: no-repeat;
		background-size: 50% 50%, 50% 50%;
		background-position: 0 0, 95% 0, 95% 95%, 0 95%;
		background-image: linear-gradient(#E2F5FF, #E2F5FF), linear-gradient(#77D2FF, #77D2FF), linear-gradient(#77D2FF, #77D2FF), linear-gradient(#77D2FF, #77D2FF);
		animation: rotate 1.5s linear infinite;
	}

	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		left: 1px;
		top: 1px;
		width: calc(100% - 2px);
		height: calc(100% - 2px);
		background: #162455;
		border-radius: 10px;
	}
}

.green:hover {
	position: relative;
	z-index: 0;
	border-radius: 10px;
	overflow: hidden;

	&::before {
		content: '';
		position: absolute;
		z-index: -2;
		left: -125%;
		top: -125%;
		width: 350%;
		height: 350%;
		background-repeat: no-repeat;
		background-size: 50% 50%, 50% 50%;
		background-position: 0 0, 95% 0, 95% 95%, 0 95%;
		background-image: linear-gradient(#4DFFA8, #4DFFA8), linear-gradient(#01DF72, #01DF72), linear-gradient(#01DF72, #01DF72), linear-gradient(#01DF72, #01DF72);
		animation: rotate 1.5s linear infinite;
	}

	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		left: 1px;
		top: 1px;
		width: calc(100% - 2px);
		height: calc(100% - 2px);
		background: #022D14;
		border-radius: 10px;
	}
}

@keyframes moveHalfEllipse {
	0% {
		opacity: 0;
		offset-distance: 100%;
	}

	1% {
		opacity: 1;
	}

	99% {
		opacity: 1;
	}

	100% {
		offset-distance: 0%;
		opacity: 0;
	}
}

@keyframes moveHalfEllipseBackwards {
	0% {
		opacity: 0;
		offset-distance: 0%;
	}

	1% {
		opacity: 1;
	}

	99% {
		opacity: 1;
	}

	100% {
		offset-distance: 100%;
		opacity: 0;
	}
}

.datapad-hard-shadow {
	box-shadow: 0px 15px 3px 0 #0D0D0D, 0px 16px 0 0 var(--color-border);

}

.datapad-glow-effect {
	filter: drop-shadow(0 0 1px var(--color-green-highlight)) drop-shadow(0 0 1px var(--color-purple-foreground));
}

.scanline-overlay {
	pointer-events: none;
	position: absolute;
	z-index: 2;
	background: repeating-linear-gradient(to bottom,
			rgba(0, 255, 0, 0.08) 0px,
			rgba(0, 255, 0, 0.08) 2px,
			transparent 2px,
			transparent 5px);
	animation: scroll-scanlines 0.5s linear infinite;
	mix-blend-mode: lighten;
	backdrop-filter: blur(0.04px) brightness(1.02);
}


@keyframes scroll-scanlines {
	0% {
		background-position-y: 0;
	}

	100% {
		background-position-y: 2px;
	}
}

.flicker {
	animation: flicker 5s infinite;
}

@keyframes flicker {
	0% {
		opacity: 1;
	}

	2% {
		opacity: 0.94;
	}

	3% {
		opacity: 1;
	}

	6% {
		opacity: 1;
	}

	7% {
		opacity: 0.93;
	}

	10% {
		opacity: 1;
	}

	100% {
		opacity: 1;
	}
}

.texture-overlay {
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	width: 100%;
	height: 100%;
	background-image: url('/assets/images/datapad-graphics/noise.png');
	background-repeat: repeat;
	opacity: 0.06;
	mix-blend-mode: overlay;
}

.button-shadow-orange {
	box-shadow: 0px 8px 0 0 var(--color-orange-background);
}

.button-shadow-pink {
	box-shadow: 0px 8px 0 0 var(--color-pink-background);
}

.button-shadow-purple {
	box-shadow: 0px 8px 0 0 var(--color-purple-background);
}

.button-shadow-green {
	box-shadow: 0px 8px 0 0 var(--color-green-background);
}

.arrow-button:active {
	box-shadow: 0px 0px 100px 5px var(--color-green-background);
	filter: brightness(2);
}

.glitch-container {
	animation: wiggle 0.2s 2;
	mask-image: url('./assets/images/datapad-graphics/NoiseMask.png');
	mask-size: cover;
}

@keyframes wiggle {
	0% {
		transform: skewX(2deg);
		mask-position: 0% 0%;
	}

	10% {
		transform: skewX(-5deg);
		opacity: 1;
	}

	20% {
		transform: skewX(4deg);
		opacity: 0;
	}

	30% {
		transform: skewX(-4deg);
		opacity: 1;
	}

	40% {
		transform: skewX(2deg);
	}

	50% {
		transform: skewX(-4deg);
	}

	60% {
		transform: skewX(3deg);
	}

	70% {
		transform: skewX(-2deg);
	}

	80% {
		transform: skewX(1deg);
	}

	90% {
		transform: skewX(2deg);
		opacity: 1;
	}

	100% {
		transform: skewX(0deg);
		opacity: 0;
		mask-position: 0% 100%;
	}
}